@model DoAnAdmin.Models.Banner

@{
    ViewBag.Title = "InsertLogo";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>InsertLogo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Banner</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.image_)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.image_)
            @Html.ValidationMessageFor(model => model.image_)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.active)
            @Html.ValidationMessageFor(model => model.active)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateUpdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateUpdate)
            @Html.ValidationMessageFor(model => model.dateUpdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BannerType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BannerType)
            @Html.ValidationMessageFor(model => model.BannerType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
