@*@model IEnumerable<DoAnAdmin.Models.Banner>*@
@model PagedList.IPagedList<DoAnAdmin.Models.Banner>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "BannerMid";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<div class="card container-fluid" style="border-radius:10px">
    <div class="card-header bg-gradient-light">
        <center class=""><h5 style="text-transform:uppercase;font-weight:bold">BANNER MIDDLE</h5></center>
    </div>
    <a href="@Url.Action("InsertProduct", "Product")"><input type="button" class="btn btn-link" value="New" style="font-size: 13px; font-weight: bold" /></a>
    <table class="table table-bordered" style="font-size: 13px; color: black;text-align:center">
        <thead class="thead-dark">
            <tr>
                <th>ID#</th>
                <th>Hình</th>
                <th>Active</th>
                <th>Ngày cập nhật</th>
                <th>Loại</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td width="500px" height="200px">
                    <img src="/Assets/Image/ImageSlidesMid/@item.image_" width="100%" height="100%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BannerType)
                </td>
                <td>
                    <a href="@Url.Action("ThongSoKyThuat","Admin",new{@id = item.id})" style="text-decoration:none;color:black"><i class="fas fa-wrench"></i></a>&nbsp;&nbsp;|
                    <a href="@Url.Action("UpdateProduct","Admin",new{@id = item.id})" style="text-decoration:none;color:black"><i class="fas fa-save"></i></a>&nbsp;&nbsp;|
                    <a href="#" style="text-decoration:none;color:black"><i class="fas fa-plus-square"></i></a>&nbsp;&nbsp;|
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, Page => Url.Action("ProductsManager", new { Page }))
    @*<center style="color:black">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            <div class="col-md-1 text-center clear-both" style="margin:0 auto;">
                @Html.PagedListPager(Model, Page => Url.Action("Products", new { Page }))
            </div>
        </center>*@
</div>
