<nav class="navbar navbar-expand navbar-light" style="background-color:black" @*:#7af3a1*@>
    <div class=" container collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsMacbook", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoMacbook.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsAsus", "Product")"> <img src="../Assets/Image/ImageTradekmark/LogoAsus.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsHP", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoHP.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsLenovo", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoLenovo.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsAcer", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoAcer.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsDELL", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoDell.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsMSI", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoMSI.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsLG", "Product")"> <img src="../Assets/Image/ImageTradekmark/LogoLG.png" width="100%" class="rounded-pill" /></a>
            </li>
            <li class="nav-item mx-2">
                <a href="@Url.Action("ShowProductsGIGABYTE", "Product")"><img src="../Assets/Image/ImageTradekmark/LogoGYGABYTE.png" width="100%" style="background-color:white" class="rounded-pill" /></a>
            </li>
        </ul>
    </div>
</nav>