
<nav class="navbar navbar-expand navbar-light" style="background-color:black" @*:#7af3a1*@>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0 center">
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "1"})"><img src="../Assets/Image/ImageTradekmark/LogoMacbook.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "2"})"> <img src="../Assets/Image/ImageTradekmark/LogoAsus.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "3"})"><img src="../Assets/Image/ImageTradekmark/LogoHP.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "4"})"><img src="../Assets/Image/ImageTradekmark/LogoLenovo.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "5"})"><img src="../Assets/Image/ImageTradekmark/LogoAcer.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "6"})"><img src="../Assets/Image/ImageTradekmark/LogoDell.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "7"})"><img src="../Assets/Image/ImageTradekmark/LogoMSI.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "8"})"> <img src="../Assets/Image/ImageTradekmark/LogoLG.png" width="90%" class="rounded-pill" /></a>
                </li>&nbsp;
                <li class="nav-item mb-1">
                    <a href="@Url.Action("ShowProductsByTrademark", "Product",new { @maTH = "9"})"><img src="../Assets/Image/ImageTradekmark/LogoGYGABYTE.png" width="90%" style="background-color:white" class="rounded-pill" /></a>
                </li>
            </ul>
        </div>
    </div>
</nav>