@model DoAnAdmin.Models.Detail

@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_DetailLayoutPage.cshtml";
}

<div class="container">
    <h5 style="font-weight:bold">@Model.Product.Name (@Model.product_id) &nbsp;&nbsp;&nbsp;&nbsp;
        <i style="font-size:15px;color:red" class="far fa-star"></i>
        <i style="font-size:15px;color:red" class="far fa-star"></i>
        <i style="font-size:15px;color:red" class="far fa-star"></i>
        <i style="font-size:15px;color:red" class="far fa-star"></i>
        <i style="font-size:15px;" class="far fa-star"></i>
    </h5><br />
    <div class="row">
        <div class="col-md-7">
            @Html.Action("ImageProductPartial", "Product", new { @maSP = @ViewBag.maSP })
            <br /><br /><br /><br />
            <table class="table">
                <tr>
                    <td>Hư gì đổi nấy 12 tháng tại 2831 siêu thị toàn quốc (miễn phí tháng đầu) <a href="#" style="text-decoration:none">(Xem chi tiết)</a></td>
                    <td>Bảo hành chính hãng laptop 2 năm</td>
                </tr>
            </table>
            <br />
            <div>
                <h4 style="font-weight:bold">Bài viết đánh giá</h4> 
                @Html.Action("BaiVietPartial", "Product", new { @maSP = @ViewBag.maSP })
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="col-md-4">
            @* col-4 *@
            <div class="row">
                <div class="col-md-12">Giá tại <span style="color:blue">Hồ Chí Minh</span><br /></div>
            </div>
            @*Giá sản phẩm*@
            <div class="row">
                <div class="col-md-12">
                    <span class="h-1 mt-4" style="font-weight:bold; color:red;font-size:22px">
                        @Html.Action("PromotionPricePartial", "Product", new { @maSP = @ViewBag.maSP }) &nbsp;&nbsp;
                        @*Nếu có khuyến mãi thì gạch giá cũ đi*@
                        @if (ViewBag.IsKhuyenMai == 1)
                        {
                            <span class="text-muted" style="text-decoration:line-through">@string.Format("{0:0,0}", Model.Product.price) đ</span>
                        }
                        else
                        {
                            <span>@string.Format("{0:0,0}", Model.Product.price) <sup>đ</sup></span>
                        }
                    </span>
                </div>
            </div>
            @* Hiển thị khuyến mãi của sản phẩm *@
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("PromotionsGiftPartial", "Product", new { @maSP = @ViewBag.maSP })
                    <br />
                </div>
            </div>
            @* Ưu đẫi thanh toán *@
            <div class="row">
                <div class="col-md-12">
                    <p style="font-weight:bold;font-size:18px">Ưu đãi khi thanh toán</p>
                    <div class="row mt-1">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <img src="/Assets/Image/ImageAdvertise/vnpay.png" width="30%" /><br />
                                    <span class="text-primary">Giảm &nbsp;</span><span style="font-weight:bold;" class="text-primary">300.000<sup>đ</sup></span>
                                    <p class="text-muted" style="font-size:14px">Sản phẩm Laptop</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <img src="/Assets/Image/ImageAdvertise/vib.jpg" width="30%" /><br />
                                    <span class="text-primary">Giảm &nbsp;</span><span style="font-weight:bold;" class="text-primary">500.000<sup>đ</sup></span>
                                    <p class="text-muted" style="font-size:14px">Sản phẩm từ 5Tr</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        @* button thanh toán *@
            <div class="row">
                <div class="col-md-12">
                    <div class="d-grid gap-2">
                        <a href="@Url.Action("ThanhToanNgay", "User", new { @maSP = @Model.product_id })" style="text-decoration:none;text-align:center" class="btn btn-danger">
                            MUA NGAY
                        </a>
                    </div>
                </div>
            </div>
        @* button thêm vào giỏ hàng *@
            <div class="row mt-2">
                <div class="col-md-12 d-grid gap-2">
                    <div class="d-grid gap-2">
                        <a href="@Url.Action("ThemGioHang", "Cart", new { @idsp = Model.product_id, @strURL = Request.Url.ToString() })" style="text-decoration:none;text-align:center" class="btn btn-warning text-light">
                            THÊM VÀO GIỎ HÀNG
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-grid gap-2">
                    <a style="text-decoration: none; text-align: center; font-size: 14px;" class="btn btn-primary mt-3 text-light">
                        MUA TRẢ GÓP<br />
                        <span style="font-size:13px">Duyệt hồ sơ trong 5 phút</span>
                    </a>
                </div>
                <div class="col-lg-6 text-light d-grid gap-2">
                    <a style="text-decoration: none; text-align: center; font-size: 14px; " class="btn btn-primary mt-3 text-light">
                        MUA TRẢ GÓP QUA THẺ<br />
                        <span style="font-size:13px">Visa, Mastercard, JCB, Amex</span>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                @Html.Action("ThongSoKyThuatGUI", "Product", new { @maSP = Model.product_id })
            </div>
        </div>@* col-4 *@
        
    </div>
</div>