@model PagedList.IPagedList<DoAnAdmin.Models.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<br />
<div class="card container-fluid" style="border-radius:10px">
    <div class="card-header bg-gradient-light">
        <center class=""><h5 style="text-transform:uppercase;font-weight:bold">QUẢN LÝ SẢN PHẨM</h5></center>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div class="row container mt-2">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Search" name="txtSearch" />
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="TH">
                        <option value="1">1. Macbook</option>
                        <option value="2">2. Asus </option>
                        <option value="3">3. HP</option>
                        <option value="4">4. Lenovo </option>
                        <option value="5">5. Acer</option>
                        <option value="6">6. DELL</option>
                        <option value="7">7. MSI</option>
                        <option value="8">8. LG</option>
                        <option value="9">9. GIGABYTE</option>
                    </select>
                </div>
                <div class="col-md-1">
                    @*<input class="btn btn-primary" type="submit" value="Search" />*@
                    <input type="submit" class="btn btn-primary" value="&#xf002" />
                </div>

            </div>
        }
        <div class="row">
            <div class="col-md-9">
                <a href="@Url.Action("InsertProduct", "Product")"><input type="button" class="btn btn-link" value="Thêm sản phẩm" style="font-size: 13px; font-weight: bold" /></a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("ProductsManager", "Product")" class="btn btn-secondary btn-sm text-light"> <i class="fas fa-times"></i>&nbsp;Reset</a>
                <a href="@Url.Action("ProductOver","Product")" class="btn btn-danger btn-sm text-light"> Đã hết</a>
                <a href="@Url.Action("ProductSelling", "Product")" class="btn btn-success btn-sm text-light"> Bán chạy</a>
            </div>
        </div>
        <div class="table-responsive-lg">
            <table class="table table-bordered table-hover mt-2" style="font-size: 12px; color: black; border-radius: 20px; text-align:center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mã#</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Thương hiệu</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đã bán</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    var id = item.trademark_id;
                    var trademark = (id == 1) ? "MacBook" : (id == 2) ? "Asus" : (id == 3) ? "HP" : (id == 4) ? "Lenovo"
                                    : (id == 5) ? "Acer" : (id == 6) ? "DELL" : (id == 7) ? "MSI" : (id == 8) ? "LG" : "GIGABYTE";
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td class="w-45">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <span class="badge badge-primary" style="font-size:13px">@trademark</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quanlity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.purchase)
                        </td>
                        <td>
                            @string.Format("{0:0,0} đ", item.price)
                            @*<input style="font-size:12px" class="form-control" size="5" type="text" name="txtName" value="@string.Format("{0:0,0}", item.price)" />*@
                        </td>
                        <td>
                            <a href="@Url.Action("ThongSoKyThuat", "Product", new { @id = item.id, @name = item.Name })" style="text-decoration:none;color:black"><i class="fas fa-wrench"></i></a>&nbsp;&nbsp;
                            @*<a href="@Url.Action("UpdateProduct", "Product", new { @id = item.id })" style="text-decoration:none;color:black"><i class="fas fa-save"></i></a>&nbsp;&nbsp;*@
                            @*<a href="#" style="text-decoration:none;color:black"><i class="fas fa-plus-square"></i></a>&nbsp;&nbsp;|*@
                        </td>
                    </tr>
                }

            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end ">
                <li class="page-item">@Html.PagedListPager(Model, Page => Url.Action("ProductsManager", new { Page }))</li>
            </ul>
        </nav>
    </div>
</div>
<br />





